:root{
    font-size: 12px;
    --miColor:rgb(0, 255, 149);
}
body{
    font-size: 10px;
}
.mi-contenedor{
    background-color:var(--miColor);
    display: grid;
    grid-template-columns: repeat(3,frc);
    grid-gap:3rem;
    grid-template-rows: repeat(2,350 px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}
@media(max-width:500px) and (orientation:optional)
{
    .mi-contenedor{
        background-color: brown;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: max-content;
    }
}
.first{
    font-size: 1emm;
}

.letra{
    font-size: x-large;
    color: #931030;
}

